# ignores following folders
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Bb]uild/
.vs/
.vscode/
CMakeFiles/

#other
*.tlog
*.log

# Prerequisites
*.d

# cmake file
CMakeCache.txt
*.cmake
*.stamp
*.depend


# visual studio porject
*.sln
*.vcxproj
*.filters
*.user

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.ilk
*.idb
*.sbr

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib


# Executables
*.exe
*.out
*.app

# binaries files 
*.png
*.xml
*.html






